<%- include ('path/head') %>

</head>

<body>

    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Tuzla, İstanbul, Türkiye
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:danisma@e-exportcity.com">
                            danisma@e-exportcity.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="/images/logo.png" class="logo img-fluid" alt="E-EXPORTCİTY">
                <span>
                    E-EXPORTCİTY
                    <small>New Word Trade System</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/">Ana Sayfa</a>
                    </li>
                    <%- include("path/nav") %>
                </ul>
            </div>
        </div>
    </nav>

    <main>



    <section class="news-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="news-block">


                        <div class="news-block-info">


                            <div class="news-block-title" style="margin-bottom: 5.5rem;">
                                <h1>E- Exportcity <%= lang_json_data.broker_sistemi _%> ??</h1>
                            </div>

                            <div class="news-block-body">
                                <div class="col-3" style="border: 1px solid; float: left; margin-right: 10px;">
                                    <div style="position: relative; left: -3vh; bottom: 3vh; border: 1px solid;">
                                        <img class="w-100" src="/images/icons/dunya.png" alt="blog image">
                                    </div>
                                </div>
                                <P><%= lang_json_data.broker_sistemi_metin1 _%></P>
                                <P><%= lang_json_data.broker_sistemi_metin2 _%></P>
                                <P><%= lang_json_data.broker_sistemi_metin3 _%></P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>


    <%- include ('path/footer') %>
  </body>

  </html>