<%- include ('path/head') %>
</head>
<body>
  <body id="section_1">

    <%- include ("path/header")%>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" class="logo img-fluid" alt="E-EXPORTCİTY">
                <span>
                    E-EXPORTCİTY
                    <small>New Word Trade System</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top"><%= lang_json_data.ana_sayfa _%></a>
                    </li>

                    <li class="nav-item d-naw-none d-flex align-items-center">
                        <a class="nav-link click-scroll" href="#section_2"><%= lang_json_data.hakkimizda _%></a>
                    </li>

                    <li class="nav-item d-naw-none d-flex align-items-center">
                        <a class="nav-link click-scroll" href="#section_3"><%= lang_json_data.uyelikler _%></a>
                    </li>

                    <li class="nav-item d-naw-none">
                        <a class="nav-link click-scroll" href="#section_4"><%= lang_json_data.bize_ulasin _%></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5"><%= lang_json_data.talep_satislar _%></a>
                    </li>
                   <%- include("path/nav") %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-none alert index-alert alert-danger" role="alert"></div>
    <!--MODAL ÜRÜN AÇILIMI-->
  <div class="modal fade" id="urunModal" tabindex="-1" aria-labelledby="urunModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="urunModalLabel">Ürün Bilgileri</h5>
          <button type="button" class="btn-close pe-4" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="urun-bilgi modal-body d-flex justify-content-center">
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= lang_json_data.urun_adi _%> :
                            <span id="urun-adi"></span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.ulke _%> :
                            <span id="urun-ulke"></span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.sektor _%> :
                            <span id="sector"></span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.kategori _%> :
                            <span id="kategori"></span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.miktar _%> :
                            <span id="miktar"></span>
                        </li>
    
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= lang_json_data.seri_nu _%>  : 
                            <span id="seri-nu"></span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.urun_hizmet _%>  :
                            <span id="hizmet"><%= lang_json_data.urun _%> </span>
                            <span id="urun"><%= lang_json_data.hizmet _%> </span>
                        </li>
                        <li class="list-group-item"><%= lang_json_data.alis_satis _%>  :
                            <span id="alis"><%= lang_json_data.satis _%> </span>
                            <span id="satis"><%= lang_json_data.alis _%> </span>
                        </li>
                        <li class="list-group-item"> firma bilgileri için tıklayınız :
                            <button type="button" class="btn btn-secondary text-capitalize"><%= lang_json_data.firma_unvani _%>: 
                                <span class="text-capitalize" id="firma-unvani"></span>
                            </button>
                            
                        </li>

                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= lang_json_data.aciklama _%>  :
                            <span id="aciklama"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="urun-alert modal-body d-none justify-content-center">
            <div class="alert alert-danger index-alert" role="alert"></div>
        </div>
      </div>
    </div>
  </div>
    <!--MODAL ÜRÜN AÇILIMI-->
    <main>
        <div class="container my-2">
            <%- include ("path/marquee")%>
        </div>
        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">


                    <!-- 

                    SLAYDER
                    
                    -->

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/slide/volunteer-helping-with-donation-box.jpg"
                                        class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>be a Kind Heart</h1>

                                        <p>Professional charity theme based on Bootstrap 5.2.2</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="images/slide/volunteer-selecting-organizing-clothes-donations-charity.jpg"
                                        class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Non-profit</h1>

                                        <p>You can support us to grow more</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="images/slide/medium-shot-people-collecting-donations.jpg"
                                        class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Humanity</h1>

                                        <p>Please tell your friends about our website</p>
                                    </div>
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <!-- 
                     SLAYDER
                    
                    -->
                </div>
            </div>
        </section>

        <!-- MİNİ MAKALELER -->

        <section class="section-padding" id="section_6">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-12 col-12 text-center mx-auto">
                        <h2 class="mb-5">Exportcity <%= lang_json_data.hosgeldiniz _%></h2>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/blog1/tr" class="d-block">
                                <img src="images/icons/nasilcalisir.png" class="featured-block-image img-fluid"
                                    alt="nasıl çalışır">

                                <p class="featured-block-text"><%= lang_json_data.nasil_calisir _%></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/blog2/tr" class="d-block">
                                <img src="images/icons/security.png" class="featured-block-image img-fluid"
                                    alt="Güvenlik">

                                <p class="featured-block-text"><%= lang_json_data.guvenli_ticaret _%></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/blog3/tr" class="d-block">
                                <img src="images/icons/temsilci.png" class="featured-block-image img-fluid"
                                    alt="temsilcilik">

                                <p class="featured-block-text"><%= lang_json_data.temsilcilik _%></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/blog4/tr" class="d-block">
                                <img src="images/icons/reklam.png" class="featured-block-image img-fluid"
                                    alt="Reklam vermek">

                                <p class="featured-block-text"><%= lang_json_data.reklam_vermek _%></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/blog5/tr" class="d-block">
                                <img src="images/icons/dunya.png" class="featured-block-image img-fluid"
                                    alt="Broker Sistemi">

                                <p class="featured-block-text"><%= lang_json_data.broker_sistemi _%></p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- MİNİ MAKALELER -->

        <!-- ÜRÜN  -->

        <section class="section-padding section-bg" id="section_5">
            <div class="col-lg-12 col-12 text-center mx-auto">
                <h2 class="mb-5 text-capitalize"><%= lang_json_data.one_cikan_urunler _%></h2>

                <div class="swiper mySwiper-urun">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tumunu-gor">
                                <a href="/urunliste/tr" class=" btn">Tümünü Gör <i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <% urun_listele_one_cikan_urun.forEach(v => { %>
                        <div class="swiper-slide">
                            <div class="card mb-3 text-start">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/urun-img/<%= v.imgsrc _%>" class="img-fluid rounded mx-auto d-block"
                                            alt="<%= lang_json_data.urun_resimi_%>">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= v.urunadi[lang]_%></h5>
                                            <p class="card-text"><%= lang_json_data.ulke_%> : 
                                            <% lang_telealankodu_json_parse.forEach(ulke_kodu => { %>
                                                <%if(ulke_kodu.code === v.ulke){%>
                                                    <%= ulke_kodu.name _%>
                                                <%}%>
                                            <%  });%>
                                            </p>
                                            <p class="card-text">
                                                <% const updateAt =  Date(v.updateAt) %>
                                                <small data-index-urun-date="<%= updateAt _%>" class="text-muted">
                                                   <%= lang_json_data.en_son_guncelleme_tarihi_%> : <span class="tarih"></span>
                                                </small>
                                            </p>
                                            <a class="card-link p-2" href="javascript:void(0)">
                                                <span data-urun-id-favori-check="<%= v._id_%>">
                                                    <i class="fa-regular fa-star"></i>
                                                </span>
                                                <%= lang_json_data.favori _%>
                                            </a>
                                            <a data-bs-toggle="modal" data-bs-target="#urunModal" data-urun-id="<%= v._id _%>" class="urun-bilgileri card-link p-2" href="javascript:void(0)"><%= lang_json_data.incele _%></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%  }); %>


                    </div>
                </div>

            </div>
        </section>

        <!-- HİZMET -->

        <section class="section-padding">
            <div class="col-lg-12 col-12 text-center mx-auto">
                <h2 class="mb-5 text-capitalize"><%= lang_json_data.one_cikan_hizmetler _%></h2>

                <div class="swiper mySwiper-urun">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tumunu-gor">
                                <a href="/urunliste/tr" class="btn">Tümünü Gör <i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <% urun_listele_one_cikan_hizmet.forEach(v => { %>
                            <div class="swiper-slide">
                                <div class="card mb-3 text-start">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="images/urun-img/<%= v.imgsrc _%>" class="img-fluid rounded mx-auto d-block"
                                                alt="<%= lang_json_data.urun_resimi_%>">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= v.urunadi[lang]_%></h5>
                                                <p class="card-text"><%= lang_json_data.ulke_%> : 
                                                <% lang_telealankodu_json_parse.forEach(ulke_kodu => { %>
                                                    <%if(ulke_kodu.code === v.ulke){%>
                                                        <%= ulke_kodu.name _%>
                                                    <%}%>
                                                <%  });%>
                                                </p>
                                                <p class="card-text">
                                                    <% const updateAt =  Date(v.updateAt) %>
                                                    <small data-index-hizmet-date="<%= updateAt _%>" class="text-muted">
                                                       <%= lang_json_data.en_son_guncelleme_tarihi_%> : <span class="tarih"></span>
                                                    </small>
                                                </p>
                                                <a class="card-link p-2" href="javascript:void(0)">
                                                    <span data-urun-id-favori-check="<%= v._id_%>">
                                                        <i class="fa-regular fa-star"></i>
                                                    </span>
                                                    <%= lang_json_data.favori _%>
                                                </a>
                                                <a data-bs-toggle="modal" data-bs-target="#urunModal" data-urun-id="<%= v._id _%>" class="urun-bilgileri card-link p-2" href="javascript:void(0)"><%= lang_json_data.incele _%></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%  }); %>
                    </div>
                </div>

            </div>
        </section>

        <!-- REFERANSLARIMIZ -->

        <section class="testimonial-section section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="mb-lg-3 text-capitalize"><%= lang_json_data.referanslarimiz _%></h2>


                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                            class="swiper mySwiper2-ref">
                            <div class="swiper-wrapper mt-25vh">

                                <% referans.forEach(v => { %>
                                <div class="swiper-slide">
                                    <h4 class="tooltip1">&#8220; 
                                        <%= v.message[lang] _%>
                                        &#8221;
                                        <span class="tooltiptext1 text-capitalize"><%= v.referans_user_name _%></span>
                                    </h4>
                                </div>
                                <% }); %>
                            </div>

                        </div>
                        <div thumbsSlider="" class="swiper mySwiper-ref">
                            <div class="swiper-wrapper">
                                <% referans.forEach(v => { %>
                                <div class="swiper-slide">
                                    <img src="images/referans-user-img/<%= v.user_img %>.jpg" />
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- MİSYON - VİZYON -->

        <section class="section-padding section-bg" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="custom-text-box">
                            <h2 class="mb-2"><%= lang_json_data.biz_kimiz _%>...</h2>

                            <h5 class="mb-3">E Exportcity, <%= lang_json_data.import_export_organizasyon _%></h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title1 _%>
                                </li>
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title2 _%>
                                </li>
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title3 _%>
                                </li>
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title4 _%>
                                </li>
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title5 _%>
                                </li>
                                <li class="list-group-item">&#8811;
                                    <%= lang_json_data.biz_kimiz_title6 _%>
                                </li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="custom-text-box mb-lg-0">
                                    <h5 class="mb-3"><%= lang_json_data.misyonumuz _%></h5>

                                    <ul class="custom-list mt-2">
                                        <li class="custom-list-item d-flex">
                                            <i class="bi-check custom-text-box-icon me-2"></i>
                                            <%= lang_json_data.misyonumuz_title1 _%>
                                        </li>
                                        <li class="custom-list-item d-flex">
                                            <i class="bi-check custom-text-box-icon me-2"></i>
                                            <%= lang_json_data.misyonumuz_title2 _%>
                                        </li>
                                        <li class="custom-list-item d-flex">
                                            <i class="bi-check custom-text-box-icon me-2"></i>
                                            <%= lang_json_data.misyonumuz_title3 _%>
                                        </li>
                                        <li class="custom-list-item d-flex">
                                            <i class="bi-check custom-text-box-icon me-2"></i>
                                            <%= lang_json_data.misyonumuz_title4 _%>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                                    <div class="counter-thumb">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="3000"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text"></span>
                                        </div>

                                        <span class="counter-text"><%= lang_json_data.uye_sayisi _%></span>
                                    </div>

                                    <div class="counter-thumb mt-4">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="10"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text"></span>
                                        </div>

                                        <span class="counter-text"><%= lang_json_data.ulke_sayisi _%></span>
                                    </div>

                                    <div class="counter-thumb mt-4 mb-2">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="1000"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text">B</span>
                                        </div>

                                        <span class="counter-text"><%= lang_json_data.urun_sayisi _%></span>
                                    </div>

                                    <h5 class="mb-3"><%= lang_json_data.hedeflerimiz_title1 _%>...</h5>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title1 _%>
                                        </li>
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title2 _%>......
                                        </li>
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title3 _%>
                                        </li>
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title4 _%>
                                        </li>
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title5 _%>
                                        </li>
                                        <li class="list-group-item">&#8811;
                                            <%= lang_json_data.hedeflerimiz_title6 _%>......
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- TEMSİLCİLER -->

        <section class="about-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="swiper mySwiper-temsilci">
                        <div class="swiper-wrapper">
                            <% temsilci.forEach(v => { %>
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img src="images/temsilci-img/<%= v.temsilciimg_%>" class="card-img" alt="temsilci image">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title text-capitalize"><%= v.fnamelname%></h5>
                                            <p class="card-text text-capitalize"><%= v.temsilciulke[lang]%></p>
                                            <ul class="social-icon mt-4">
                                                <li class="social-icon-item">
                                                    <a href="<%= v.temsilcilinkedin%>" class="social-icon-link bi-linkedin"></a>
                                                </li>
    
                                                <li class="social-icon-item">
                                                    <a href="<%= v.temsilcitel%>" class="social-icon-link bi-telephone"></a>
                                                </li>
    
                                                <li class="social-icon-item">
                                                    <a href="<%= v.temsilcimail%>" class="social-icon-link bi-mailbox"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                             <% }); %>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FİYATLANDIRMA ÜYELİK -->

        <section class="section-padding section-bg" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2 class="text-capitalize"><%= lang_json_data.uyelikler _%></h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Gümüş</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Altın</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Platinum</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- FİYATLANDIRMA REKLAM -->

        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2 class="text-capitalize"><%= lang_json_data.reklam_uyeligi _%></h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">1 Ay Reklam</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">3 Ay Reklam</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">12 Ay Reklam</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- FİYATLANDIRMA EK ÜYELİKLER -->

        <section class="section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2 class="text-capitalize"><%= lang_json_data.ek_alinabilenler _%></h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">50 Adet Ürün Görme</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">100 Adet Ürün Görme</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="custom-block-wrap">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">1000 Adet Ürün Görme</h5>

                                    <p>&#8811;
                                        İster Yıllık peşin alın...
                                    </p>
                                    <p>&#8811;
                                        İsterseniz 12 ay taksitle ödeyin...
                                    </p>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Taksitli 12 Ay:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Peşin 12 Ay:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="#" class="custom-btn btn">Satın Al</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- MAİL BİZE ULAŞIN -->

        <section class="contact-section section-padding" id="section_4">
            <div class="container">
                <div class="row">
                    <h2><%= lang_json_data.size_nasil_yardimci_olalim _%>...</h2>

                    <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                        <div class="contact-info-wrap">

                            <div class="contact-image-wrap d-flex flex-wrap">
                                <img src="images/calisan-img/mail-img.jpg" class="img-fluid avatar-image" alt="resim">

                                <div class="d-flex flex-column justify-content-center ms-3">
                                    <p class="mb-0">Ümit KABALA</p>
                                    <p class="mb-0"><strong>Satış Temsilcisi</strong></p>
                                </div>
                            </div>

                            <div class="contact-info">
                                <h5 class="mb-3"><%= lang_json_data.adres _%></h5>

                                <p class="d-flex mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    Tuzla, İstanbul
                                </p>

                                <p class="d-flex mb-2">
                                    <i class="bi-telephone me-2"></i>

                                    <a href="tel: 305-240-9671">
                                        305-240-9671
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <i class="bi-envelope me-2"></i>

                                    <a href="mailto:info@yourgmail.com">
                                        danisma@e-exportcity.com
                                    </a>
                                </p>

                                <a href="mailto:danisma@e-exportcity.com"><%= lang_json_data.mail_gonder _%></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                        <div class="contact-info-wrap">

                            <div class="contact-image-wrap d-flex flex-wrap">
                                <img src="images/calisan-img/mail-img.jpg" class="img-fluid avatar-image" alt="resim">

                                <div class="d-flex flex-column justify-content-center ms-3">
                                    <p class="mb-0">Ümit KABALA</p>
                                    <p class="mb-0"><strong>Hukuk Danışma</strong></p>
                                </div>
                            </div>

                            <div class="contact-info">
                                <h5 class="mb-3"><%= lang_json_data.adres _%></h5>

                                <p class="d-flex mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    Tuzla, İstanbul
                                </p>

                                <p class="d-flex mb-2">
                                    <i class="bi-telephone me-2"></i>

                                    <a href="tel: 305-240-9671">
                                        305-240-9671
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <i class="bi-envelope me-2"></i>

                                    <a href="mailto:info@yourgmail.com">
                                        danisma@e-exportcity.com
                                    </a>
                                </p>

                                <a href="mailto:danisma@e-exportcity.com">Mail Gönder</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                        <div class="contact-info-wrap">

                            <div class="contact-image-wrap d-flex flex-wrap">
                                <img src="images/calisan-img/mail-img.jpg" class="img-fluid avatar-image" alt="resim">

                                <div class="d-flex flex-column justify-content-center ms-3">
                                    <p class="mb-0">Ümit KABALA</p>
                                    <p class="mb-0"><strong>Yurk Dışı İhracaat</strong></p>
                                </div>
                            </div>

                            <div class="contact-info">
                                <h5 class="mb-3"><%= lang_json_data.adres _%></h5>

                                <p class="d-flex mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    Tuzla, İstanbul
                                </p>

                                <p class="d-flex mb-2">
                                    <i class="bi-telephone me-2"></i>

                                    <a href="tel: 305-240-9671">
                                        305-240-9671
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <i class="bi-envelope me-2"></i>

                                    <a href="mailto:info@yourgmail.com">
                                        danisma@e-exportcity.com
                                    </a>
                                </p>

                                <a href="mailto:danisma@e-exportcity.com">Mail Gönder</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
  <%- include ('path/footer') %>
</body>

</html>