<!DOCTYPE html>
<html lang="<%= lang _%>">


<%- include ('path/head') %>

</head>
<body>
  <%-include ('path/nav') %>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>Language to <%= lang %>
  </p>
  <%- include ('path/footer') %>
</body>

</html>