<!DOCTYPE html>
<html lang="<%= lang _%>">


<%- include ('path/head') %>

</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>Language to <%= lang %>
  </p>
</body>

</html>