<!DOCTYPE html>
<html>
<%- include ('path/head') %>

  </head>

  <body>
    <%-include ('path/nav') %>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <p>language to <%= lang %>
    </p>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>


    <%- include ('path/footer') %>
      <script src="javascripts/login.js"></script>
  </body>

</html>