<%- include ('panel-headers-footer/headers') %>
      <section class="section-padding section-bg">
            <div class="col-12 px-4">
                  <h2 class="mb-5 text-capitalize">kullanıcı ekleme</h2>
                  <div class="alert alert-danger d-none" role="alert"></div>

                  <div class="container">
                        <div class="row">
                              <form class="kullanici-ekle-form row col-sm-8 col-4 g-3" autocomplete="on">
                                    <h2 class="col-md-12 text-capitalize">
                                          <%= lang_json_data.bilgileri_giriniz _%>
                                    </h2>

                                    <div class="col-md-12 ">
                                          <input name="fname" type="text" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.isim _%>">
                                    </div>
                                    <div class="col-md-12 ">
                                          <input name="lname" type="text" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.soyad _%>">
                                    </div>
                                    <div class="col-md-12 ">
                                          <input name="email"  type="email" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.mail _%>">
                                    </div>
                                    <div class="col-md-12">
                                          <input name="pass"  type="password" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.sifre _%>">
                                          <div class="pass-uyari">8 karakter, 1 büyük harf, 1 küçük harf, 1 sayı olmak zorundadır.</div>
                                    </div>
                                    <div class="col-md-12 ">
                                          <input name="identityNumber"  type="text" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.tc_numarasi _%>">
                                    </div>
                                    <div class="col-md-12 ">
                                          <input name="gsmNumber"  type="text" class="form-control bg-transparent"
                                                placeholder="<%= lang_json_data.tel_numarasi _%>">
                                    </div>
                                    <div class="col-md-12 ">
                                          <select name="uyeRole" class="form-select bg-transparent" aria-label="Default select example">
                                                <option value="">kullanici rolünü seçiniz</option>
                                                <option value="employee">görev verilmemiş</option>
                                                <option value="reklamcheck">reklamcheck</option>
                                                <option value="uruncheck">uruncheck</option>
                                                <option value="odemecheck">odemecheck</option>
                                                <option value="uyecheck">uyecheck</option>
                                                <option value="blogcheck">blogcheck</option>
                                                <option value="seocheck">seocheck</option>
                                          </select>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                          <a type="submit" href="javascript:void(0)" class="custom-btn btn">
                                                <%= lang_json_data.kaydet _%>
                                          </a>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </section>
      <%- include ('panel-headers-footer/footer') %>